header{
    background-color: bisque;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}

li{
    margin: 0 10px;
}

img{
    height: 100px;
}

